body{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 8rem;
    font-family: 'Roboto', sans-serif;
    background: #eee;
    gap: 2rem;
    flex-wrap: wrap;
}